$background-color-white: #ffffff;
$background-color-grey: #f0f0f0;


///text-color
$text-color-white: #f7faff;
$text-color-blue: #366cf7;
$text-color-black: #333333;
$text-color-footer-dark: #777777;
$text-color-footer-light: #898989;


///text font-size
$text-name: 18px;
$text-normal: 16px;
$text-city: 14px;
$text-footer-bold: 14px;
$text-footer-normal: 12px;